In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\acer\anaconda\lib\site-packages (4.10.0)
Requirement already satisfied: trio~=0.17 in c:\users\acer\anaconda\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\acer\anaconda\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\acer\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\acer\anaconda\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: sniffio in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=20.1.0 in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\acer\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\acer\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\acer\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\acer\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\acer\anaconda\lib\site-packages (3.8.6)
Requirement already satisfied: packaging in c:\users\acer\anaconda\lib\site-packages (from webdriver-manager) (21.3)
Requirement already satisfied: requests in c:\users\acer\anaconda\lib\site-packages (from webdriver-manager) (2.28.1)
Requirement already satisfied: python-dotenv in c:\users\acer\anaconda\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\acer\anaconda\lib\site-packages (from webdriver-manager) (4.64.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\acer\anaconda\lib\site-packages (from packaging->webdriver-manager) (3.0.9)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\acer\anaconda\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\anaconda\lib\site-packages (from requests->webdriver-manager) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\acer\anaconda\lib\site-packages (from requests->webdriver-manager) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda\lib\site-packages (from requests->webdriver-manager) (2022.9.14)
Requirement already satisfied: colorama in c:\users\acer\anaconda\lib\site-packages (from tqdm->webdriver-manager) (0.4.5)

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [3]:
#Importing all the important libraries
import selenium
from selenium import webdriver
import pandas as pd 
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [4]:
#To open chrome
driver=webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [5]:
#To maximise the window
driver.maximize_window()

In [6]:
#To open the URL
driver.get("http://www.naukri.com/")

In [7]:
# To give Data analyst at Desgination bar
designation=driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys("Data Analyst")

In [8]:
# To give Bangalore at location bar
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [9]:
#To click on search button
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [10]:
#Creating empty lists
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
# To find all the elements for title and append the text to the job_title list
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# To find all the elements for location and append the text to the job_location list
job_locate=driver.find_elements(By.XPATH,  '//span[@class="ellipsis fleft locWdth"]')
for i in job_locate[0:10]:
    location=i.text
    job_location.append(location)
    
# To find all the elements for company and append their text to the company_name list
name=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in name[0:10]:
    company=i.text
    company_name.append(company)
    
# To find all the elements for exp and append their text to the experience_required list   
Ex=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in Ex[0:10]:
    exp=i.text
    experience_required.append(exp)

In [13]:
# To check the length of all the lists
print (len(job_title)), len(job_location), len(company_name), len(experience_required)

10

(None, 10, 10, 10)

In [14]:
#Creating DataFrame
df=pd.DataFrame({"Title":job_title, 'Job location':job_location, 'Name':company_name, 'Experience':experience_required})
df

,Title,Job location,Name,Experience
0,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
1,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
3,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synchron Infotech,5-8 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,3-5 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,2-4 Yrs
7,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Yulu Bikes,4-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [15]:
#Importing all the important libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [16]:
#To open chrome
driver=webdriver.Chrome()

In [17]:
#To maximise the window
driver.maximize_window()

In [18]:
#To open the URL
driver.get("http://www.naukri.com/")

In [19]:
# To give Data Scientist at Designation bar
designation=driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Scientist')

In [20]:
# To give Bangalore at location bar
location=driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [21]:
#To click on search button
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [22]:
#Creating empty lists
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [23]:
 # To find all the elements for title and append the text to the job_title list
title_tags=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

 # To find all the elements for location and append the text to the job_location list
    location_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

 # To find all the elements for name and append the text to the company_name list
name_tags=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)

# To find all the elements for experience and append the text to the experienced_required list
experience_tags=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [24]:
# To check the length of all the lists
print(len(job_title)), len(job_location), len(company_name), len(experience_required)

10

(None, 10, 10, 10)

In [25]:
#Creating DataFrame
df=pd.DataFrame({"Title":job_title, 'Job location':job_location, 'Name':company_name, 'Experience':experience_required})
df

,Title,Job location,Name,Experience
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
2,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC,3-6 Yrs
3,Data Scientist,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",IBS Software Services,5-8 Yrs
4,ACN - Applied Intelligence - Finance - Data Sc...,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Accenture,2-7 Yrs
5,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,5-10 Yrs
6,DATA SCIENTIST,Bangalore/Bengaluru,Walmart,4-8 Yrs
7,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Noid...",HCLTech,7-12 Yrs
8,Data Scientist with Retail Domain,"Bangalore/Bengaluru, Kolkata, Mumbai, Nagpur, ...",TRH Consultancy Services,4-9 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services,5-10 Yrs

Q3: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [26]:
#Importing all the important libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [27]:
#To open chrome
driver=webdriver.Chrome()

In [28]:
#To maximize the window
driver.maximize_window()

In [29]:
#To open the url
driver.get("https://www.naukri.com/")

In [30]:
# To give Data Scientist at Designation bar
designation=driver.find_element(By.XPATH, '/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input')
designation.send_keys("Data Scientist")

In [31]:
#Clicking on search button
search=driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [32]:
# Creating empty list
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [33]:
# To find all the elements for title and append the text to the job_title list
title_tag=driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tag[0:10]: #to get only first 10 items
    title=i.text
    job_title.append(title)
    
 #To find all the elements for location and append the text to the job_location list
location_tag=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]: #to get only first 10 items
    location=i.text
    job_location.append(location)
    
 #To find all the elements for name and append the text to the company_name list
name_tag=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in name_tag[0:10]: #to get only first 10 items
    name=i.text
    company_name.append(name)
    
#To find all the elements for experience and append the text to the experience_required list    
exp_tag=driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in exp_tag[0:10]: #to get only first 10 items
    experience=i.text
    experience_required.append(experience)

In [34]:
# To check the length of all the lists
print(len(job_title)), len(job_location), len(company_name), len(experience_required)

10

(None, 10, 10, 10)

In [35]:
# Creating dataframe
df=pd.DataFrame({"Title":job_title, 'Job location':job_location, 'Name':company_name, 'Experience':experience_required})
df

,Title,Job location,Name,Experience
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
1,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
2,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC,3-6 Yrs
3,ACN - Applied Intelligence - Finance - Data Sc...,"Hyderabad/Secunderabad, Pune, Chennai, Gurgaon...",Accenture,2-7 Yrs
4,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics,5-10 Yrs
5,DATA SCIENTIST,Bangalore/Bengaluru,Walmart,4-8 Yrs
6,Data Scientist,"Hybrid - Noida, Uttar Pradesh, Bangalore/ Beng...",HCLTech,7-12 Yrs
7,Senior Data Scientist (PhD) - Computer Vision,Pune,Vineet Tyre Center,2-7 Yrs
8,Data Scientist || Immediate Joiners Only,"Bangalore/ Bengaluru, Karnataka",Sun Life,6-10 Yrs
9,Sr . Data Scientist / Manager,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Novitas Infotech,7-10 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand
ProductDescription
Price

In [36]:
#To import all the important libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [37]:
#To open chrome
driver=webdriver.Chrome()

In [38]:
#To maximise the window
driver.maximize_window()

In [41]:
#To open the URL
driver.get("https://www.flipkart.com/")

In [43]:
# To give Sunglasses at seach bar
product=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('Sunglasses')

In [45]:
#To click on search button
search=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [46]:
# Creating empty list
Brand=[]
Productdesc=[]
Price=[]

In [47]:
# Defining the start and end page numbers
start = 0
end = 3

# Loop through the pages
for page in range(start, end):
    # To find all the elements for brand and append the text to the Brand list
    brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
    
    # To find all the elements for details and append the text to the Productdesc list
    details = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in details:
        Productdesc.append(i.text)
    
    # To find all the elements for price and append the text to the Price list
    price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)
    
# To click on next button
nextbutton = driver.find_element(By.CLASS_NAME,'_1LKTO3')
nextbutton.click()
# Wait for 3 seconds for the next page to load
time.sleep(3)

In [48]:
#To find out length of the lsits
print (len(Brand)), len(Productdesc), len(Price)

120

(None, 114, 120)

In [49]:
# To get only the first 100 items 
brand = Brand[:100]
product = Productdesc[:100]
price = Price[:100]

In [50]:
#creating dataframe
df = pd.DataFrame({"Brand":brand, "Product_Description":product, "Price":price})
df

            Brand                                Product_Description   Price
0          OAKLEY                         HOLBROOK Wayfarer Sunglass  ₹4,981
1   VINCENT CHASE             UV Protection Wayfarer Sunglasses (59)    ₹649
2           SDEEP  UV Protection, Others Spectacle Sunglasses (Fr...    ₹185
3       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹168
4            SRPM             UV Protection Wayfarer Sunglasses (50)    ₹194
..            ...                                                ...     ...
95        ROADWAY             UV Protection Wayfarer Sunglasses (46)    ₹372
96    Eyewearlabs                UV Protection Round Sunglasses (55)  ₹2,199
97    Eyewearlabs                UV Protection Round Sunglasses (50)  ₹2,099
98           Shiv             UV Protection Wayfarer Sunglasses (56)    ₹275
99     Cool enter             UV Protection Wayfarer Sunglasses (50)    ₹183

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART As shown in the above page you have to scrape the tick marked attributes. These are:

Rating
Review summary
Full review
You have to scrape this data for first 100reviews.

In [51]:
#Importing all the important libraries
import selenium 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [52]:
#To open chrome
driver=webdriver.Chrome()

In [53]:
#To maximize the window
driver.maximize_window()

In [54]:
#To open the URL
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [55]:
#To create empty list
Rating=[]
Review_Summary=[]
Full_review=[]

In [56]:
# Defining the start and end page numbers
start=0
end=10

#Loop through the pages
for page in range(start, end):
     # To find all the elements for stars and append the text to the Ratings list
    ratings=driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings[0:100]: # To get only the first 100 items 
        stars=i.text
        Rating.append(stars)
    
     # To find all the elements for view and append the text to the Review_Summary list
    Review=driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for i in Review[0:100]: # To get only the first 100 items 
        view=i.text
        Review_Summary.append(view)
        
     # To find all the elements for Reviews and append the text to the Full_review list
    full=driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for i in full[0:100]: # To get only the first 100 items 
        Reviews=i.text
        Full_review.append(Reviews)
        
# To click on next button
nextbutton = driver.find_element(By.CLASS_NAME,'_1LKTO3')
nextbutton.click()
  
# Wait for 3 seconds for the next page to load
time.sleep(3)

In [57]:
#Chckeing the length of each list
print(len(Rating)), len(Review_Summary), len(Full_review)

100

(None, 100, 100)

In [58]:
#Creating Dataframe
df=pd.DataFrame({"Ratings":Rating, "ReviewSummary":Review_Summary, "Reviews":Full_review})
df

,Ratings,ReviewSummary,Reviews
0,5,Mind-blowing purchase,Photos super
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific,Very very good
3,5,Wonderful,This is amazing at all
4,5,Must buy!,It’s really awesome
...,...,...,...
95,5,Just wow!,Perfect Product!!
96,5,Perfect product!,V Good all
97,5,Fabulous!,Super🔥 and good performance 👌❤️
98,5,Best in the market!,Good Camera
99,5,Worth every penny,Feeling awesome after getting the delivery of ...

Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 3 attributes of each sneaker:

Brand
ProductDescription
Price

In [59]:
# Importing all the important libraries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [60]:
# To open the chrome
driver=webdriver.Chrome()

In [61]:
# To maximise the window
driver.maximize_window()

In [62]:
# To open the URL
driver.get('http://www.flipkart.com/')

In [63]:
# To give Sunglasses at seach bar
product=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('Sneakers')

In [65]:
#To click on search 
search=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [66]:
#Creating empty lists
Brand=[]
ProductDescription=[]
Price=[]

In [67]:
# Defining the start and end page numbers
start=0
end=3

# Loop through the pages
for page in range(start, end):
    # To find all the elements for name and append the text to the Brand list 
    brand=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brand:
        name=i.text
        Brand.append(name)
        
     # To find all the elements for desc and append the text to the ProductDescription list    
    details=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in details:
        desc=i.text
        ProductDescription.append(desc)
        
     # To find all the elements for Value and append the text to the Price list    
    cost=driver.find_elements(By.XPATH, '//a[@class="_3bPFwb"]')
    for i in cost:
        Value=i.text
        Price.append(Value)
        
#To click on nextbutton
nextbutton=driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div[2]/div[12]/div/div/nav/a[11]')
nextbutton.click()

In [68]:
# To get only the first 100 items 
brand = Brand[:100]
product = ProductDescription[:100]
price = Price[:100]

In [69]:
# Checking the length of the each list
print(len(brand)), len(product), len(price)

100

(None, 100, 100)

In [70]:
#Creating the DataFrame
df=pd.DataFrame({'BrandName':brand, 'ProductDescription':product, 'ProductPrice':price})
df

,BrandName,ProductDescription,ProductPrice
0,K- FOOTLANCE,Sneakers For Men,₹449₹99955% off\nFree delivery
1,HOTSTYLE,Combo Pack Of 2 Sneakers For Men,"₹499₹1,99875% off\nFree delivery"
2,Magnolia,Modern Trendy Sneakers boot Sneakers Sneakers ...,"₹499₹1,29961% off\nFree delivery"
3,BRUTON,Modern Trendy Shoes Sneakers For Men,"₹299₹1,29976% off\nFree delivery by Today"
4,asian,"Thunder-01 White Color Change Sneakers,Casuals...","₹799₹1,69952% off\nFree delivery by Today"
...,...,...,...
95,Deals4you,Styles Men's Fashion Outdoor Trend High Top Sp...,₹599₹99940% off\nFree delivery
96,RapidBox,Skypy-31 Shoes Sneakers For Men,₹649₹99935% off\nFree delivery
97,RapidBox,"SM-162 Black Walking ,Training,Sneakers,Loafer...",₹750₹99924% off\nFree delivery
98,aadi,Hustle V2 Sneakers For Men,"₹499₹1,99975% off\nFree delivery"
99,asian,Junior Zero1 Sports shoes for Men | Gym Traini...,"₹649₹1,49956% off\nFree delivery by Today"

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image: After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

Title
Ratings
Price

In [71]:
#importing all the important libraries
import selenium
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [72]:
#To open chrome
driver=webdriver.Chrome()

In [73]:
#To maximise the window
driver.maximize_window()

In [74]:
#To open the URL
driver.get('https://www.amazon.in/')

In [75]:
# To give laptop at seach bar
search=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [76]:
# To click on search button
icon=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
icon.click()

In [77]:
# To set CPU Type filter to “Intel Core i7” & click on it
CPU=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[12]/li/span/a/span')
CPU.click()

In [78]:
#Creating empty list
Title=[]
Ratings=[]
Price=[]

In [79]:
# To find all the elements for tag and append the text to the Title list   
name=driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in name[0:10]:
    tag=i.text
    Title.append(tag)
    
# To find all the elements for rate and append the text to the Ratings list   
stars=driver.find_elements(By.XPATH, '//div[@class="a-row a-size-small"]')
for i in stars[0:10]:
    rate=i.text
    Ratings.append(rate)
    
# To find all the elements for price and append the text to the Price list       
cost=driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in cost[0:10]:
    price=i.text
    Price.append(price)

In [80]:
# To check the length of all the lists
print(len(Title)), len(Ratings), len(Price)

10

(None, 10, 10)

In [81]:
#Creating DataFrame
df=pd.DataFrame({"Title":Title, "Ratings":Ratings, "Price":Price})
df

                                               Title Ratings   Price
0                                                 HP       1  32,990
1  15s, Intel Pentium Silver N6000, 15.6-inch (39...      72  56,990
2                            (Renewed) Dell Latitude       4  27,980
3  3180 Beautiful, Ultraportable & Ultralight (1....     484  28,990
4  Microsoft Surface GO 3 8VA-00013 10.5" (26.67 ...     110  28,990
5  (Intel Pentium T6600 Processor/8GB/128GB SSD/W...      33  24,641
6                            (Renewed) Dell Latitude       3  26,297
7  3180 Beautiful, Ultraportable & Ultralight (1....       1  32,278
8  Acer Extensa 15 Thin & Light Intel Processor P...     155  57,349
9  (4GB RAM/1TB HDD/Windows 10 Home/Integrated Gr...     258  32,000

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps:

First get the webpagehttps://www.azquotes.com/
Click on TopQuotes
Than scrap a) Quote b) Author c) Type Of Quotes
libraries
1
#Importing all the important libraries

In [82]:
#Importing all the important libraries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [83]:
# To open the chrome
driver=webdriver.Chrome()

In [84]:
# To maximize the window
driver.maximize_window()

In [85]:
# To open the URL
driver.get('https://www.azquotes.com/')

In [86]:
# Click on TopQuotes
quotes=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]')
quotes.click()

In [87]:
#Creating empty list
Quote=[]
Author=[]
Type=[]

In [88]:
# Defining the start and end page numbers
start=0
end=10

#Loop through the pages
for page in range(start, end):
     # To find all the elements for quote and append the text to the Quote list 
    sayings=driver.find_elements(By.XPATH, '//a[@class="title"]')
    for i in sayings[0:1000]:
        quote=i.text
        Quote.append(quote)
        
 # To find all the elements for author and append the text to the Author list     
    writer=driver.find_elements(By.XPATH, '//div[@class="author"]')
    for i in writer[0:1000]:
        author=i.text
        Author.append(author)
        
 # To find all the elements for origin and append the text to the Type list     
    genre=driver.find_elements(By.XPATH, '//div[@class="tags"]')
    for i in genre[0:1000]:
        origin=i.text
        Type.append(origin)
        
#To click on next button
nextbutton=driver.find_element(By.CLASS_NAME,"next" )
nextbutton.click()

In [89]:
# To check the length of all the lists
print(len(Quote)),len(Author), len(Type)

1000

(None, 1000, 1000)

In [90]:
#Creating DataFrame
df=pd.DataFrame({"Quote":Quote, "Author":Author, "Type of quote":Type})
df

,Quote,Author,Type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/. This task will be done in following steps:

First get the webpagehttps://www.jagranjosh.com/
Then You have to click on the GK option
Then click on the List of all Prime Ministers of India
Then scrap the mentioned data and make theDataFrame.

In [91]:
#Importing all the important libraries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [92]:
#To open the chrome
driver=webdriver.Chrome()

In [93]:
# To maximize the window
driver.maximize_window()

In [94]:
# To open the URL
driver.get('https://www.jagranjosh.com/')

In [95]:
# To click on the GK option
gk=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]')
gk.click()

In [96]:
# To click on the List of all Prime Ministers of India
PM=driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div[2]/div/div[14]/div/div/ul/li[2]/a')
PM.click()

In [97]:
#Creating empty lists
name=[]
born_dead=[]
term=[]
remarks=[]

In [98]:
# To find all elements with tag name td and append the text to the name list
person=driver.find_elements(By.TAG_NAME, 'td')
for i in person:
    Name=i.text
    name.append(Name)
    
# To find all elements with tag name td and append the text to the born_dead  list
born=driver.find_elements(By.TAG_NAME, 'td')
for i in born:
    date=i.text
    born_dead.append(date)
    
# To find all elements with tag name td and append the text to the term list
period=driver.find_elements(By.TAG_NAME, 'td')
for i in period:
    Term=i.text
    term.append(Term)

# To find all elements with tag name td and append the text to the remarks list
comments=driver.find_elements(By.TAG_NAME, 'td')
for i in comments:
    com=i.text
    remarks.append(com)

In [99]:
Name = name[1:90:5] # Slicing the Name list to extract every 5th element starting from the second element
Dates= born_dead[2:90:5] # Slicing the Dates list to extract every 5th element starting from the third element
Term=term[3:90:5] # Slicing the Term list to extract every 5th element starting from the fourth element
Remarks=remarks[4:90:5] # Slicing the Remarks list to extract every 5th element starting from the Fifth element

In [100]:
# Creating DataFrame
df=pd.DataFrame({"Name of PM":Name, "Dates":Dates, "Term":Term, "Remarks":Remarks})
df

,Name of PM,Dates,Term,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/ This task will be done in following steps:

First get the webpagehttps://www.motor1.com/
Then You have to type in the search bar ’50 most expensive cars’
Then click on 50 most expensive carsin the world..
Then scrap the mentioned data and make the dataframe

In [101]:
#Importing all the important libraries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

In [109]:
#To open the chrome
driver=webdriver.Chrome()

In [110]:
# To maximize the window
driver.maximize_window()

In [111]:
# To open the URL
driver.get('https://www.motor1.com/')

In [112]:
# To type in the search bar ’50 most expensive cars’
tye=driver.find_element(By.XPATH, '/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
tye.send_keys('50 most expensive cars')

In [113]:
# To click on search button
search=driver.find_element(By.XPATH, '/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [115]:
# click on 50 most expensive cars in the world..
cars=driver.find_element(By.XPATH, '/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
cars.click()

In [116]:
#Creating empty lists
Car=[]
Price=[]

In [117]:
# To find all the elements for name and append the text to the Car list 
car=driver.find_elements(By.XPATH, '//h3[@class="subheader"]')
for i in car:
    name=i.text
    Car.append(name)
    
# To find all the elements for cost and append the text to the Price list 
price=driver.find_elements(By.TAG_NAME, 'strong')
for i in price:
    cost=i.text
    Price.append(cost)

In [118]:
#To check the length of all the lists
print(len(Car)), len(Price)

51

(None, 51)

In [119]:
#Creating DataFrame
df=pd.DataFrame({"Car Name":Car, "Price":Price})
df

                            Car Name                        Price
0                      De Tomaso P72          Price: $1.3 Million
1                  Ferrari LaFerrari          Price: $1.4 Million
2                      Pagani Huayra          Price: $1.4 Million
3                       McLaren Elva
4                        Czinger 21C          Price: $1.7 Million
5                      Ferrari Monza          Price: $1.7 Million
6                 Gordon Murray T.33          Price: $1.7 Million
7                  Koenigsegg Gemera          Price: $1.7 Million
8                        Zenvo TSR-S          Price: $1.7 Million
9                 Hennessey Venom F5          Price: $1.7 Million
10                   Bentley Bacalar          Price: $1.8 Million
11     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12            Bentley Mulliner Batur          Price: $1.9 Million
13                      Deus Vayanne          Price: $2.0 Million
14                       SSC Tuatara          Price: $2.0 Million
15                       Lotus Evija         Price: $2.0 Million*
16               Aston Martin Vulcan          Price: $2.1 Million
17                        Delage D12          Price: $2.3 Million
18                 McLaren Speedtail          Price: $2.3 Million
19                      Rimac Nevera          Price: $2.3 Million
20                     Pagani Utopia          Price: $2.4 Million
21              Pininfarina Battista          Price: $2.5 Million
22                 Ferrari FXX K Evo          Price: $2.5 Million
23                Gordon Murray T.50          Price: $2.6 Million
24              Lamborghini Countach          Price: $2.6 Million
25          Mercedes-AMG Project One          Price: $2.6 Million
26               Aston Martin Victor          Price: $2.7 Million
27       Hennessey Venom F5 Roadster          Price: $3.0 Million
28                  Koenigsegg Jesko                 $3.0 Million
29             Aston Martin Valkyrie          Price: $3.0 Million
30         W Motors Lykan Hypersport          Price: $3.2 Million
31                     McLaren Solus          Price: $3.4 Million
32         Pagani Huayra Roadster BC                 $3.5 Million
33          Bugatti Chiron Pur Sport          Price: $3.5 Million
34                  Lamborghini Sian          Price: $3.6 Million
35                  Koenigsegg CC850          Price: $3.6 million
36   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
37                Lamborghini Veneno          Price: $3.9 Million
38                    Bugatti Bolide          Price: $4.5 Million
39                   Bugatti Mistral          Price: $4.7 Million
40               Pagani Huayra Imola          Price: $5.0 Million
41                      Bugatti Divo          Price: $5.4 Million
42               SP Automotive Chaos          Price: $5.8 Million
43                  Pagani Codalunga          Price: $6.4 Million
44          Mercedes-Maybach Exelero          Price: $7.4 Million
45                Bugatti Centodieci          Price: $8.0 Million
46           Bugatti Chiron Profilée          Price: $9.0 Million
47              Rolls-Royce Sweptail         Price: $10.8 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)