In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\acer\anaconda\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\acer\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\acer\anaconda\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\acer\anaconda\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\acer\anaconda\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: cffi>=1.14 in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.2)
Requirement already satisfied: outcome in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\acer\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\acer\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\acer\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\acer\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\acer\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
!pip install webdriver_manager

Requirement already satisfied: webdriver_manager in c:\users\acer\anaconda\lib\site-packages (3.8.6)
Requirement already satisfied: tqdm in c:\users\acer\anaconda\lib\site-packages (from webdriver_manager) (4.64.1)
Requirement already satisfied: requests in c:\users\acer\anaconda\lib\site-packages (from webdriver_manager) (2.28.1)
Requirement already satisfied: packaging in c:\users\acer\anaconda\lib\site-packages (from webdriver_manager) (21.3)
Requirement already satisfied: python-dotenv in c:\users\acer\anaconda\lib\site-packages (from webdriver_manager) (1.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\acer\anaconda\lib\site-packages (from packaging->webdriver_manager) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda\lib\site-packages (from requests->webdriver_manager) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\acer\anaconda\lib\site-packages (from requests->webdriver_manager) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\anaconda\lib\site-packages (from requests->webdriver_manager) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\acer\anaconda\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: colorama in c:\users\acer\anaconda\lib\site-packages (from tqdm->webdriver_manager) (0.4.5)

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url =
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [5]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException

In [6]:
driver=webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [7]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [8]:
driver.maximize_window()

In [16]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

rank=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank[:30]:
    Rank.append(i.text)
    
name=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in name[:30]:
    Name.append(i.text[:-4])

    
artist=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artist[:30]:
    Artist.append(i.text)
    
date=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in date[:30]:
    Upload_Date.append(i.text)
    
views=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in views[:30]:
    Views.append(i.text)

In [62]:
df=pd.DataFrame({"Rank":Rank, "Name":Name, "Artist":Artist, "Upload Date":Upload_Date, "Views(Billions)":Views})
df

,Rank,Name,Artist,Upload Date,Views(Billions)
0,1.,"""Baby Shark Dance",Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
1,2.,"""Despacito",Luis Fonsi,"January 12, 2017",8.23
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
3,4.,"""Bath Song""",Cocomelon - nursery rhymes,"May 2, 2018",6.33
4,5.,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.05
5,6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.98
6,8.,"""Wheels on the Bus""",Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,7.,"""Phonics Song with Two Words""",ChuChu TV - children's songs,"March 6, 2014",5.42
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.99
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV - children's songs,"February 27, 2018",4.94
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.86
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies - children's songs,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.41
13,14.,"""Axel F""",Crazy Frog,"June 16, 2009",4.00
14,15.,"""Sugar""",Maroon 5,"January 14, 2015",3.91
15,16.,"""Roar""",Katy Perry,"September 5, 2013",3.84
16,17.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.84
17,18.,"""Baa Baa Black Sheep""",Cocomelon - nursery rhymes,"June 25, 2018",3.73
18,19.,"""Sorry""",Justin Bieber,"October 22, 2015",3.69
19,20.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.68
20,21.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.63
21,22.,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.63
22,23.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.56
23,24.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.51
24,25.,"""Faded""",Alan Walker,"December 3, 2015",3.49
25,26.,"""Let Her Go""",Passenger,"July 25, 2012",3.48
26,27.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
27,28.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.45
28,29.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.43
29,30.,"""Lean On""",Major Lazer,"March 22, 2015",3.43

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [18]:
import selenium
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException

In [19]:
driver=webdriver.Chrome()

In [20]:
driver.maximize_window()

In [33]:
driver.get("https://www.bcci.tv/")

In [34]:
menu=driver.find_element(By.XPATH, "/html/body/nav/div[1]/button")
menu.click()

In [35]:
international=driver.find_element(By.XPATH, '/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [53]:
for i in range(3):
    if i==38: break

title=[]
series=[]
stadium=[]
city=[]
place=[]
date=[]
time=[]

Title=driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]')
for i in Title:
    title.append(i.text)
    
Series=driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for i in Series:
    series.append(i.text)

try:
    Stadium=driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')
    for i in Stadium:
        stadium.append(i.text)
except:
    stadium.append('-')
    
    
City=driver.find_elements(By.XPATH, '//span[@class="ng-binding"]')
for i in City:
    city.append(i.text)
    
Date=driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in Date:
    date.append(i.text)
    
Time=driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for i in Time:
    time.append(i.text)

In [55]:
print(len(title)), len(series), len(city), len(date), len(time)

38

(None, 38, 38, 38, 38)

In [59]:
df=pd.DataFrame({"Title":title, "Series":series, "Place":city, "Date":date, "Time":time})
df

,Title,Series,Place,Date,Time
0,1st T20I -,INDIA TOUR OF IRELAND 2023,Dublin,18 AUG 2023,7:30 PM IST
1,2nd T20I -,INDIA TOUR OF IRELAND 2023,Dublin,20 AUG 2023,7:30 PM IST
2,3rd T20I -,INDIA TOUR OF IRELAND 2023,Dublin,23 AUG 2023,7:30 PM IST
3,1st ODI -,ASIA CUP 2023,Pallekele,2 SEP 2023,10:00 AM IST
4,2nd ODI -,ASIA CUP 2023,Pallekele,4 SEP 2023,10:00 AM IST
5,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,Mohali,22 SEP 2023,1:30 PM IST
6,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,Indore,24 SEP 2023,1:30 PM IST
7,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,Rajkot,27 SEP 2023,1:30 PM IST
8,1st ODI -,ICC MENS WORLD CUP 2023,Chennai,8 OCT 2023,2:00 PM IST
9,2nd ODI -,ICC MENS WORLD CUP 2023,Delhi,11 OCT 2023,2:00 PM IST
10,3rd ODI -,ICC MENS WORLD CUP 2023,Ahmedabad,14 OCT 2023,2:00 PM IST
11,4th ODI -,ICC MENS WORLD CUP 2023,Pune,19 OCT 2023,2:00 PM IST
12,5th ODI -,ICC MENS WORLD CUP 2023,Dharamsala,22 OCT 2023,2:00 PM IST
13,6th ODI -,ICC MENS WORLD CUP 2023,Lucknow,29 OCT 2023,2:00 PM IST
14,7th ODI -,ICC MENS WORLD CUP 2023,Mumbai,2 NOV 2023,2:00 PM IST
15,8th ODI -,ICC MENS WORLD CUP 2023,Kolkata,5 NOV 2023,2:00 PM IST
16,9th ODI -,ICC MENS WORLD CUP 2023,Bengaluru,12 NOV 2023,2:00 PM IST
17,1st T20I -,AUSTRALIA TOUR OF INDIA 2023-24,Visakhapatnam,23 NOV 2023,7:00 PM IST
18,2nd T20I -,AUSTRALIA TOUR OF INDIA 2023-24,Thiruvananthapuram,26 NOV 2023,7:00 PM IST
19,3rd T20I -,AUSTRALIA TOUR OF INDIA 2023-24,Guwahati,28 NOV 2023,7:00 PM IST
20,4th T20I -,AUSTRALIA TOUR OF INDIA 2023-24,Nagpur,1 DEC 2023,7:00 PM IST
21,5th T20I -,AUSTRALIA TOUR OF INDIA 2023-24,Hyderabad,3 DEC 2023,7:00 PM IST
22,1st T20I -,INDIA TOUR OF SOUTH AFRICA 2023-24,Durban,10 DEC 2023,9:30 PM IST
23,2nd T20I -,INDIA TOUR OF SOUTH AFRICA 2023-24,Gqeberha,12 DEC 2023,9:30 PM IST
24,3rd T20I -,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,14 DEC 2023,9:30 PM IST
25,1st ODI -,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,17 DEC 2023,2:00 PM IST
26,2nd ODI -,INDIA TOUR OF SOUTH AFRICA 2023-24,Gqeberha,19 DEC 2023,2:00 PM IST
27,3rd ODI -,INDIA TOUR OF SOUTH AFRICA 2023-24,Paarl,21 DEC 2023,2:00 PM IST
28,1st Test -,INDIA TOUR OF SOUTH AFRICA 2023-24,Centurion,26 DEC 2023,1:30 PM IST
29,2nd Test -,INDIA TOUR OF SOUTH AFRICA 2023-24,Cape Town,3 JAN 2024,1:30 PM IST
30,1st T20I -,AFGHANISTAN TOUR OF INDIA 2023-24,Mohali,11 JAN 2024,7:00 PM IST
31,2nd T20I -,AFGHANISTAN TOUR OF INDIA 2023-24,Indore,14 JAN 2024,7:00 PM IST
32,3rd T20I -,AFGHANISTAN TOUR OF INDIA 2023-24,Bengaluru,17 JAN 2024,7:00 PM IST
33,1st Test -,ENGLAND TOUR OF INDIA 2023-24,Hyderabad,25 JAN 2024,9:30 AM IST
34,2nd Test -,ENGLAND TOUR OF INDIA 2023-24,Visakhapatnam,2 FEB 2024,9:30 AM IST
35,3rd Test -,ENGLAND TOUR OF INDIA 2023-24,Rajkot,15 FEB 2024,9:30 AM IST
36,4th Test -,ENGLAND TOUR OF INDIA 2023-24,Ranchi,23 FEB 2024,9:30 AM IST
37,5th Test -,ENGLAND TOUR OF INDIA 2023-24,Dharamsala,7 MAR 2024,9:30 AM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A)
Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [63]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

In [64]:
driver=webdriver.Chrome()

In [65]:
driver.maximize_window()

In [66]:
driver.get('http://statisticstimes.com/')

In [69]:
economy=driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button/i')
economy.click()

In [70]:
india=driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [73]:
GDP=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP.click()

In [83]:
rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
GDP=[]

Rank=driver.find_elements(By.XPATH, '//td[@class="data1"]')
for i in Rank[:33]:
    rank.append(i.text)
    
State=driver.find_elements(By.XPATH, '//td[@class="name"]')
for i in State[:33]:
    state.append(i.text)
    
try:
    gsdp=driver.find_elements(By.XPATH, '//div[@class="dataTables_wrapper"]/table/tbody/tr/td[3]')
    for i in gsdp[:33]:
        GSDP1.append(i.text)
except:
    GSDP1.append('-')
    

try:
    gsdp1=driver.find_elements(By.XPATH, '//td[@class="data sorting_1"]')
    for i in gsdp1[:33]:
        GSDP2.append(i.text)
except:
    GSDP2.append('-')
    

Share=driver.find_elements(By.XPATH, '//div[@class="dataTables_wrapper"]/table/tbody/tr/td[5]')
for i in Share[:33]:
    share.append(i.text)
    
gdp=driver.find_elements(By.XPATH, '//div[@class="dataTables_wrapper"]/table/tbody/tr/td[6]')
for i in gdp[:33]:
    GDP.append(i.text)

In [84]:
print(len(rank)), len(state), len(GSDP1), len(GSDP2), len(share), len(GDP)

33

(None, 33, 33, 33, 33, 33)

In [85]:
df=pd.DataFrame({"Rank":rank, "State":state, "GSDP(2018-19)current price":GSDP1, 'GSDP(2019-20)current price':GSDP2, "Share":share, "GDP":GDP})
df

,Rank,State,GSDP(2018-19)current price,GSDP(2019-20)current price,Share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [7]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import ElementNotInteractableException

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.maximize_window()

In [4]:
driver.get('https://github.com/')

In [9]:
try:
    explore_click = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
    explore_click.click()
    trend_click = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
    trend_click.click()

except ElementNotInteractableException:
    explore_click = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
    explore_click.click()
    trend_click = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
    trend_click.click()

In [15]:
title=[]
description=[]
count=[]
language=[]

Title=driver.find_elements(By.XPATH, '//a[@class="Link"]')
for i in Title:
    title.append(i.text)
    
try:
    desc=driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]' )
    for i in desc:
        description.append(i.text)
except NoSuchElementException:
    description.append("NaN")
    
Count=driver.find_elements(By.XPATH, '//a[@class="Link Link--muted d-inline-block mr-3"]')
for i in Count[1:49:2]:
    count.append(i.text)
    
try:
    Language=driver.find_elements(By.XPATH, '//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
    for i in Language:
        language.append(i.text)
except:
    language.append("NaN")

In [16]:
print(len(title)), len(description), len(count), len(language)

24

(None, 23, 24, 22)

In [17]:
df=pd.DataFrame({"Title":title[:22], "Description":description[:22], "Contribution Count":count[:22], "Language":language[:22]})
df

,Title,Description,Contribution Count,Language
0,lllyasviel / Fooocus,Focus on prompting and generating,120,Python
1,imartinez / privateGPT,Interact privately with your documents using t...,"4,561",Python
2,phoboslab / wipeout-rewrite,"Official implementation of ""Neuralangelo: High...",54,C
3,NVlabs / neuralangelo,ALL IN ONE Hacking Tool For Hackers,70,Python
4,Z4nzu / hackingtool,A youtube-dl fork with additional features and...,"3,803",Python
5,yt-dlp / yt-dlp,A list of Free Software network services and w...,"4,412",Python
6,awesome-selfhosted / awesome-selfhosted,"Original reference implementation of ""3D Gauss...","8,036",Makefile
7,graphdeco-inria / gaussian-splatting,Self-hosted photo and video backup solution di...,91,Python
8,immich-app / immich,一个基于 electron 的音乐软件,670,Dart
9,lyswhut / lx-music-desktop,"The Patterns of Scalable, Reliable, and Perfor...","4,801",TypeScript
10,binhnguyennus / awesome-scalability,Generative Agents: Interactive Simulacra of Hu...,"5,186",Python
11,joonspk-research / generative_agents,AWS zero to hero repo for devops engineers to ...,903,JavaScript
12,iam-veeramalla / aws-devops-zero-to-hero,⭐️ Companies that don't have a broken hiring p...,"1,164",Python
13,poteto / hiring-without-whiteboards,FaceChain is a deep-learning toolchain for gen...,"3,180",Python
14,modelscope / facechain,"Enable everyone to develop, optimize and deplo...",89,Python
15,mlc-ai / mlc-llm,Command-line program to download videos from Y...,834,C
16,ytdl-org / youtube-dl,Simple Directmedia Layer,"9,243",Python
17,libsdl-org / SDL,"Linux, Jenkins, AWS, SRE, Prometheus, Docker, ...","1,208",C++
18,bregman-arie / devops-exercises,Bitcoin Core integration/staging tree,"11,716",Python
19,bitcoin / bitcoin,👋 Hey there new grad🎉! We've put together a co...,"35,527",C++
20,ReaVNaiL / New-Grad-2024,Highly customizable Wayland bar for Sway and W...,182,Python
21,Alexays / Waybar,Traditional Mandarin LLMs for Taiwan,519,Go

Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [18]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import NoSuchElementException

In [19]:
driver=webdriver.Chrome()

In [20]:
driver.maximize_window()

In [21]:
driver.get('http://www.billboard.com/')

In [26]:
menu=driver.find_element(By.XPATH, '/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button/span')
menu.click()

In [27]:
hot=driver.find_element(By.XPATH, '/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
hot.click()

In [34]:
name=[]
artist=[]
lwr=[]
pr=[]
weekonboard=[]

Name=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in Name:
    name.append(i.text)
    
Artist=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/span')
for i in Artist[0:400:4]:
    artist.append(i.text)
    
LWR=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/span')
for i in LWR[1:400:4]:
    lwr.append(i.text)
    
PR=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/span')
for i in PR[2:400:4]:
    pr.append(i.text)
    
Time=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/span')
for i in Time[3:400:4]:
    weekonboard.append(i.text)

In [35]:
print(len(name)), len(artist), len(lwr), len(pr), len(weekonboard)

100

(None, 100, 100, 100, 100)

In [37]:
df=pd.DataFrame({"Name":name, "Artist Name":artist, "Last Week Rank":lwr, "Peak Rank":pr, "Week on board":weekonboard})
df

,Name,Artist Name,Last Week Rank,Peak Rank,Week on board
0,Last Night,Morgan Wallen,2,1,27
1,Fast Car,Luke Combs,3,2,19
2,Meltdown,Travis Scott Featuring Drake,-,3,1
3,Cruel Summer,Taylor Swift,6,4,13
4,FE!N,Travis Scott Featuring Playboi Carti,-,5,1
...,...,...,...,...,...
95,Oh U Went,Young Thug Featuring Drake,66,19,6
96,ICU,Coco Jones,71,62,18
97,Pound Town 2,Sexyy Red & Tay Keith & Nicki Minaj,74,66,9
98,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,72,31,9
99,Johnny Dang,"That Mexican OT, Paul Wall & DRODi",96,96,3

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey You have to find the following details:
6. Scrape the details of Highest selling novels.
compare
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [15]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.maximize_window()

In [17]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [18]:
book=[]
author=[]
sold=[]
publisher=[]
genre=[]

Book=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in Book:
    book.append(i.text)
    
Author=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in Author:
    author.append(i.text)
    
Sold=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in Sold:
    sold.append(i.text)
    
Publisher=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in Publisher:
    publisher.append(i.text)
    
Genre=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in Genre:
    genre.append(i.text)

In [19]:
df=pd.DataFrame({"Book Name":book, "Author Name":author, "Volume Sales":sold, "Publisher":publisher, "Genre":genre})
df

,Book Name,Author Name,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You
have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [20]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.common.exceptions import NoSuchElementException

In [21]:
driver=webdriver.Chrome()

In [22]:
driver.maximize_window()

In [24]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [28]:
name=[]
time=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

Name=driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]/a')
for i in Name:
    name.append(i.text)
    
Time=driver.find_elements(By.XPATH, '//span[@class="lister-item-year text-muted unbold"]')
for i in Time:
    time.append(i.text)
    
Genre=driver.find_elements(By.XPATH, '//span[@class="genre"]')
for i in Genre:
    genre.append(i.text)
    
Run_time=driver.find_elements(By.XPATH, '//span[@class="runtime"]')
for i in Run_time:
    run_time.append(i.text)
    
Ratings=driver.find_elements(By.XPATH, '//span[@class="ipl-rating-star__rating"]')
for i in Ratings[0:2300:23]:
    ratings.append(i.text)
    
Votes=driver.find_elements(By.XPATH, '//span[@name="nv"]')
for i in Votes:
    votes.append(i.text)

In [29]:
print(len(name)), len(time), len(genre), len(run_time), len(ratings), len(votes)

100

(None, 100, 100, 100, 100, 100)

In [30]:
df=pd.DataFrame({"Movie Name":name, "Year span":time, "Genre":genre, "Run Time":run_time, "Ratings":ratings, "Votes":votes})
df

,Movie Name,Year span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,192,325"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,200"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,666"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,868"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"264,950"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,412"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,438"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,033"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,667"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,508"

. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [1]:
import selenium
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver=webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [3]:
driver.maximize_window()

In [4]:
driver.get('https://archive.ics.uci.edu/')

In [5]:
dataset=driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()

In [15]:
name=[]
Ds_type=[]
task=[]
attribute=[]
instance=[]
Noofa=[]
year=[]

start = 0
end = 64

for page in range(start, end):
    
    Name=driver.find_elements(By.XPATH, '//main[@class="min-h-screen"]/div/div/div/div/div/div/h2')
for i in Name[:634]:
    name.append(i.text)
    
ds_type=driver.find_elements(By.XPATH, '//main[@class="min-h-screen"]/div/div/div/div/div/div/div/div/span' )
for i in ds_type[1:40:4]:
    Ds_type.append(i.text)
    
Task=driver.find_elements(By.XPATH, '//main[@class="min-h-screen"]/div/div/div/div/div/div/div/div/span')
for i in Task[0:40:4]:
    task.append(i.text)
        
Instance=driver.find_elements(By.XPATH, '//main[@class="min-h-screen"]/div/div/div/div/div/div/div/div/span')
for i in Instance[2:40:4]:
    instance.append(i.text)
    
noof=driver.find_elements(By.XPATH, '//main[@class="min-h-screen"]/div/div/div/div/div/div/div/div/span')
for i in noof[3:40:4]:
    Noofa.append(i.text)
    
    
nextbutton=driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
nextbutton.click()

In [16]:
print(len(name)), len(Ds_type), len(task), len(attribute), len(instance), len(Noofa), len(year)

10

(None, 10, 10, 0, 10, 10, 0)

In [14]:
df=pd.DataFrame({"Name":name, "Data Type":Ds_type, "Task":task, "Instances":instance, "No of Attributes":Noofa})
df

,Name,Data Type,Task,Instances,No of Attributes
0,Abalone,Multivariate,Classification,4.18K Instances,8 Attributes
1,Breast Cancer,Multivariate,Classification,286 Instances,9 Attributes
2,Statlog (German Credit Data),Multivariate,Classification,1K Instances,20 Attributes
3,Glass Identification,Multivariate,Classification,214 Instances,9 Attributes
4,Wine Quality,Multivariate,"Classification, Regression",4.9K Instances,12 Attributes
5,Census Income,Multivariate,Classification,48.84K Instances,14 Attributes
6,Breast Cancer Wisconsin (Original),Multivariate,Classification,699 Instances,9 Attributes
7,Auto MPG,Multivariate,Regression,398 Instances,7 Attributes
8,Automobile,Multivariate,Regression,205 Instances,25 Attributes
9,Thyroid Disease,"Multivariate, Domain-Theory",Classification,7.2K Instances,5 Attributes